In [102]:
import pandas as pd
import numpy as np

In [169]:
df=pd.read_csv("WebExtract.txt")

In [170]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINECODE,INSPDATE,ACTION,VIOLCODE,SCORE,CURRENTGRADE,GRADEDATE,RECORDDATE
0,30075445,MORRIS PARK BAKE SHOP,2,1007,MORRIS PARK AVE ...,10462,7188924968,8,2014-03-03 00:00:00,D,10F,2,A,2014-03-03 00:00:00,2014-09-04 06:01:28.403000000
1,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225,7182875005,39,2014-07-01 00:00:00,F,06A,23,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019,2122452912,3,2013-07-22 00:00:00,D,10B,11,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
3,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234,7184443838,27,2014-05-29 00:00:00,D,08C,10,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
4,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019,2122452912,3,2013-07-22 00:00:00,D,02G,11,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
5,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019,2122452912,3,2013-07-22 00:00:00,D,10F,11,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
6,40356018,RIVIERA CATERER,3,2780,STILLWELL AVENUE,11224,7183723031,3,2014-06-10 00:00:00,D,10F,5,A,2014-06-10 00:00:00,2014-09-04 06:01:28.403000000
7,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374,7188967788,50,2013-01-17 00:00:00,D,06D,13,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000
8,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234,7184443838,27,2014-05-29 00:00:00,D,04M,10,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
9,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226,7188560821,43,2014-07-14 00:00:00,D,10F,12,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000
10,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234,7184443838,27,2014-05-29 00:00:00,D,10F,10,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
11,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219,7182560829,3,2014-07-18 00:00:00,D,06A,12,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000
12,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226,7188560821,43,2014-07-14 00:00:00,D,06C,12,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000
13,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,10I,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
14,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225,7182875005,39,2014-07-01 00:00:00,F,02G,23,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
15,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314,7186985800,50,2014-05-20 00:00:00,D,10H,12,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000
16,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,10F,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
17,40361521,GLORIOUS FOOD,1,522,EAST 74 STREET,10021,2127372140,3,2014-09-02 00:00:00,U,04C,19,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
18,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374,7188967788,50,2013-01-17 00:00:00,D,02B,13,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000
19,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369,7183350505,3,2014-05-02 00:00:00,F,06D,10,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000
20,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,10E,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
21,40359480,1 EAST 66TH STREET KITCHEN,1,1,EAST 66 STREET ...,10065,2128793900,3,2014-05-07 00:00:00,D,10B,3,A,2014-05-07 00:00:00,2014-09-04 06:01:28.403000000
22,40358429,MAY MAY KITCHEN,3,1269,SUTTER AVENUE,11208,7182354485,20,2013-08-28 00:00:00,D,02B,7,A,2013-08-28 00:00:00,2014-09-04 06:01:28.403000000
23,40360045,SEUDA FOODS,3,705,KINGS HIGHWAY ...,11223,7183751500,50,2013-10-10 00:00:00,D,04L,13,A,2013-10-10 00:00:00,2014-09-04 06:01:28.403000000
24,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225,7182875005,39,2014-07-01 00:00:00,F,04J,23,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
25,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369,7183350505,3,2014-05-02 00:00:00,F,06A,10,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000
26,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314,7186985800,50,2014-05-20 00:00:00,D,06D,12,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000
27,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314,7186985800,50,2014-05-20 00:00:00,D,06E,12,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000
28,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219,7182560829,3,2014-07-18 00:00:00,D,06D,12,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000
29,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,06F,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531905,50014537,"1734 VICTORY BOULEVARD,INC.",5,1734,VICTORY BOULEVARD,10314,7187204900,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531906,50014563,FACEBOOK INC,1,770,BROADWAY,10003,6503675751,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531907,50014593,shinas pizza and grilling inc,4,88-38,SUTPHIN BOULEVARD ...,11435,3479655770,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531908,50014596,ALNINA CORP.,3,2474,OCEAN AVENUE,11229,9172021300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531909,50014597,Mian Noodle Bar,4,184-02,HORACE HARDING EXPRESSWAY,11365,5169677575,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531910,50014602,"NINETEEN TWENTY FOUR, INC",3,263,MOORE STREET ...,11206,7184171118,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531911,50014697,NEW JADE FOUNTAIN ENTERPRISES CORP,4,185-20,HORACE HARDING EXPRESSWAY,11365,7189399880,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531912,50014704,CREOLE 516 INC.,4,216-19,LINDEN BOULEVARD,11411,5164512071,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531913,50014705,JUICELAND PARK SLOPE INC,3,337,9 STREET,11215,7187881314,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531914,50014712,givers and takers,3,286,3 AVENUE ...,11215,9176271984,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531915,50014732,POPULAR CHICKEN INC,5,229,BROAD STREET,10304,3476068825,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531916,50014737,ZHONG ZHENG 26 RESTAURANT INC,1,26B,E BWAY ...,10002,2122199088,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531917,50014741,Q & Q BAKERY INC.,1,50,EAST BROADWAY,10002,2122262282,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531918,50014840,7 HUA JI PORT CHOP FAST FOOD INC,1,7,ALLEN STREET,10002,9179159663,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531919,50014853,MELT SHOP,1,877,8 AVENUE,10019,2125055861,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531920,50014866,IBM CAFETERIA,1,51,ASTOR PLACE,10003,8452341267,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531921,50014871,CIELO CAFE INC,4,147-36,NORTHERN BOULEVARD ...,11354,7188868871,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531922,50014875,MI RINCONCITO RESTAURANTE,2,131,EAST 169 STREET,10452,7186817474,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531923,50014882,MEANE JOE GREENE LLC,3,524,GRAND STREET ...,11211,9179165602,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531924,50014887,ZMA CORP,1,1159,3 AVENUE ...,10065,9176936031,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531925,50014889,SHARON'S ASIAN RESTAURANT INC,3,1232,AVENUE U,11229,9179578191,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531926,50014901,NUTELLERIA,3,82,5 AVENUE,11217,3473704444,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531927,50014920,FUSHIMI JAPANESE CUISINE,5,2110,RICHMOND ROAD,10306,7189805300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531928,50014921,Dunkin Donuts,1,542,EAST 14 STREET,10009,2125325003,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531929,50014955,Veinard Cafe Inc.,3,109,ORIENTAL BOULEVARD,11235,3478853050,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531930,50014960,PEPPA POT JAMAICAN CUISINE,4,134-28,GUY R BREWER BOULEVARD,11434,7185288200,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531931,50014972,BELLINI,1,483,COLUMBUS AVENUE,10024,2127244615,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531932,50014979,The Finch,3,212,GREENE AVENUE ...,11238,9176267596,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531933,50015011,ROAST KITCHEN,1,27,EAST 13 STREET ...,10003,2127764053,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531934,50015048,Vivire LLC,4,41-21,GREENPOINT AVENUE ...,11104,9176580796,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000

In [171]:
df['SD'] = df['SE'] = df.SCORE

In [172]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINECODE,INSPDATE,ACTION,VIOLCODE,SCORE,CURRENTGRADE,GRADEDATE,RECORDDATE,SD,SE
0,30075445,MORRIS PARK BAKE SHOP,2,1007,MORRIS PARK AVE ...,10462,7188924968,8,2014-03-03 00:00:00,D,10F,2,A,2014-03-03 00:00:00,2014-09-04 06:01:28.403000000,2,2
1,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225,7182875005,39,2014-07-01 00:00:00,F,06A,23,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000,23,23
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019,2122452912,3,2013-07-22 00:00:00,D,10B,11,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000,11,11
3,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234,7184443838,27,2014-05-29 00:00:00,D,08C,10,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000,10,10
4,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019,2122452912,3,2013-07-22 00:00:00,D,02G,11,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000,11,11
5,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019,2122452912,3,2013-07-22 00:00:00,D,10F,11,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000,11,11
6,40356018,RIVIERA CATERER,3,2780,STILLWELL AVENUE,11224,7183723031,3,2014-06-10 00:00:00,D,10F,5,A,2014-06-10 00:00:00,2014-09-04 06:01:28.403000000,5,5
7,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374,7188967788,50,2013-01-17 00:00:00,D,06D,13,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000,13,13
8,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234,7184443838,27,2014-05-29 00:00:00,D,04M,10,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000,10,10
9,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226,7188560821,43,2014-07-14 00:00:00,D,10F,12,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000,12,12
10,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234,7184443838,27,2014-05-29 00:00:00,D,10F,10,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000,10,10
11,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219,7182560829,3,2014-07-18 00:00:00,D,06A,12,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000,12,12
12,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226,7188560821,43,2014-07-14 00:00:00,D,06C,12,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000,12,12
13,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,10I,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000,11,11
14,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225,7182875005,39,2014-07-01 00:00:00,F,02G,23,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000,23,23
15,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314,7186985800,50,2014-05-20 00:00:00,D,10H,12,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000,12,12
16,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,10F,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000,11,11
17,40361521,GLORIOUS FOOD,1,522,EAST 74 STREET,10021,2127372140,3,2014-09-02 00:00:00,U,04C,19,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000,19,19
18,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374,7188967788,50,2013-01-17 00:00:00,D,02B,13,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000,13,13
19,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369,7183350505,3,2014-05-02 00:00:00,F,06D,10,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000,10,10
20,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,10E,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000,11,11
21,40359480,1 EAST 66TH STREET KITCHEN,1,1,EAST 66 STREET ...,10065,2128793900,3,2014-05-07 00:00:00,D,10B,3,A,2014-05-07 00:00:00,2014-09-04 06:01:28.403000000,3,3
22,40358429,MAY MAY KITCHEN,3,1269,SUTTER AVENUE,11208,7182354485,20,2013-08-28 00:00:00,D,02B,7,A,2013-08-28 00:00:00,2014-09-04 06:01:28.403000000,7,7
23,40360045,SEUDA FOODS,3,705,KINGS HIGHWAY ...,11223,7183751500,50,2013-10-10 00:00:00,D,04L,13,A,2013-10-10 00:00:00,2014-09-04 06:01:28.403000000,13,13
24,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225,7182875005,39,2014-07-01 00:00:00,F,04J,23,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000,23,23
25,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369,7183350505,3,2014-05-02 00:00:00,F,06A,10,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000,10,10
26,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314,7186985800,50,2014-05-20 00:00:00,D,06D,12,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000,12,12
27,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314,7186985800,50,2014-05-20 00:00:00,D,06E,12,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000,12,12
28,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219,7182560829,3,2014-07-18 00:00:00,D,06D,12,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000,12,12
29,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,06F,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531905,50014537,"1734 VICTORY BOULEVARD,INC.",5,1734,VICTORY BOULEVARD,10314,7187204900,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531906,50014563,FACEBOOK INC,1,770,BROADWAY,10003,6503675751,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531907,50014593,shinas pizza and grilling inc,4,88-38,SUTPHIN BOULEVARD ...,11435,3479655770,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531908,50014596,ALNINA CORP.,3,2474,OCEAN AVENUE,11229,9172021300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531909,50014597,Mian Noodle Bar,4,184-02,HORACE HARDING EXPRESSWAY,11365,5169677575,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531910,50014602,"NINETEEN TWENTY FOUR, INC",3,263,MOORE STREET ...,11206,7184171118,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531911,50014697,NEW JADE FOUNTAIN ENTERPRISES CORP,4,185-20,HORACE HARDING EXPRESSWAY,11365,7189399880,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531912,50014704,CREOLE 516 INC.,4,216-19,LINDEN BOULEVARD,11411,5164512071,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531913,50014705,JUICELAND PARK SLOPE INC,3,337,9 STREET,11215,7187881314,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531914,50014712,givers and takers,3,286,3 AVENUE ...,11215,9176271984,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531915,50014732,POPULAR CHICKEN INC,5,229,BROAD STREET,10304,3476068825,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531916,50014737,ZHONG ZHENG 26 RESTAURANT INC,1,26B,E BWAY ...,10002,2122199088,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531917,50014741,Q & Q BAKERY INC.,1,50,EAST BROADWAY,10002,2122262282,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531918,50014840,7 HUA JI PORT CHOP FAST FOOD INC,1,7,ALLEN STREET,10002,9179159663,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531919,50014853,MELT SHOP,1,877,8 AVENUE,10019,2125055861,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531920,50014866,IBM CAFETERIA,1,51,ASTOR PLACE,10003,8452341267,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531921,50014871,CIELO CAFE INC,4,147-36,NORTHERN BOULEVARD ...,11354,7188868871,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531922,50014875,MI RINCONCITO RESTAURANTE,2,131,EAST 169 STREET,10452,7186817474,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531923,50014882,MEANE JOE GREENE LLC,3,524,GRAND STREET ...,11211,9179165602,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531924,50014887,ZMA CORP,1,1159,3 AVENUE ...,10065,9176936031,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531925,50014889,SHARON'S ASIAN RESTAURANT INC,3,1232,AVENUE U,11229,9179578191,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531926,50014901,NUTELLERIA,3,82,5 AVENUE,11217,3473704444,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531927,50014920,FUSHIMI JAPANESE CUISINE,5,2110,RICHMOND ROAD,10306,7189805300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531928,50014921,Dunkin Donuts,1,542,EAST 14 STREET,10009,2125325003,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531929,50014955,Veinard Cafe Inc.,3,109,ORIENTAL BOULEVARD,11235,3478853050,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531930,50014960,PEPPA POT JAMAICAN CUISINE,4,134-28,GUY R BREWER BOULEVARD,11434,7185288200,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531931,50014972,BELLINI,1,483,COLUMBUS AVENUE,10024,2127244615,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531932,50014979,The Finch,3,212,GREENE AVENUE ...,11238,9176267596,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531933,50015011,ROAST KITCHEN,1,27,EAST 13 STREET ...,10003,2127764053,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN
531934,50015048,Vivire LLC,4,41-21,GREENPOINT AVENUE ...,11104,9176580796,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,NaN,NaN

In [173]:
#Dataframe sorted by 
def SE(x):
    n=np.sqrt(x.count())
    if n==0:
        return None
    ans=np.std(x)
    return(ans)
a=df.groupby('ZIPCODE').agg({"CAMIS":lambda x: x.nunique(),"SCORE":np.mean,"SD":np.std,"SE":SE})
a
#b=a.CAMIS.nunique().sort_values(ascending=False).head(100)

             SCORE  CAMIS         SE         SD
ZIPCODE
7005     16.166667      1   4.579544   4.783178
10000    33.280000      1  32.985476  33.665660
10001    20.861558    509  15.030757  15.031627
10002    24.277107    474  16.958575  16.959450
10003    22.491749    675  15.044511  15.045051
10004    20.437790    142  13.814240  13.817154
10005    21.377374     69  15.231290  15.237582
10006    22.255633     47  13.507030  13.512886
10007    21.559110    139  14.486985  14.489812
10009    21.997789    312  14.677895  14.678977
10010    22.672749    246  16.064649  16.066278
10011    21.360411    463  13.679330  13.680077
10012    21.120305    402  13.034035  13.034824
10013    23.894068    480  16.101864  16.102570
10014    21.526370    408  13.843233  13.844032
10016    22.781260    414  14.714143  14.714941
10017    22.425101    376  14.811273  14.812240
10018    22.976900    333  15.433238  15.434338
10019    21.433635    660  14.331010  14.331594
10020    17.607703     48  12.457696  12.466591
10021    22.658479    152  15.654167  15.656484
10022    21.987891    488  15.428606  15.429391
10023    21.917738    197  15.013153  15.015083
10024    22.281986    202  14.945491  14.947233
10025    23.335293    237  15.353623  15.355128
10026    24.323741     74  16.035534  16.041305
10027    22.778005    163  15.895252  15.897968
10028    21.348417    214  13.733814  13.735424
10029    23.620480    197  17.266286  17.268565
10030    21.376910     39  15.648100  15.661401
...            ...    ...        ...        ...
11411    25.977358     23  17.067001  17.083124
11412    20.795580     45  13.565258  13.574636
11413    22.726154     41  16.892932  16.905942
11414    22.318267     50  14.785995  14.792961
11415    22.148794     36  16.808753  16.820030
11416    23.294912     44  17.420111  17.429163
11417    21.113982     69  14.128129  14.133500
11418    22.668075     88  15.609860  15.614573
11419    24.146455     91  17.294934  17.298969
11420    22.581787     87  16.388013  16.392768
11421    21.372155     73  12.893994  12.898311
11422    22.754902     41  14.834090  14.843188
11423    22.848821     35  16.680173  16.691753
11426    20.653782     30  14.699836  14.712204
11427    20.649596     19  16.573974  16.596356
11428    25.256769     40  15.931801  15.938763
11429    19.926641     24  12.484370  12.496438
11430    19.585848    148  13.606578  13.610311
11432    22.372653    188  16.236026  16.238174
11433    18.104202     30   9.596528   9.604602
11434    22.213096     90  15.235316  15.239693
11435    21.604319    106  13.769330  13.772137
11436    23.350174     23  15.300624  15.313969
11451     9.090909      1   4.399474   4.614207
11691    24.753636     45  14.867854  14.874217
11692    19.396947      9  11.206377  11.249396
11693    23.781857     28  15.762339  15.779389
11694    22.871915     38  13.523059  13.531012
11697    31.011628      3  15.702536  15.794634
11753    11.583333      1   2.325881   2.429303

[208 rows x 4 columns]

In [274]:
topzipcodes=a[a.CAMIS>100].sort_values('CAMIS',ascending=False)
topzipcodes["ZIPCODE"]=topzipcodes.index
topzipcodes.shape
topzipcodes.head(5)
#topzipcodes[1]

#a=pd.DataFrame({a:topzipcodes.ZIPCODE,b:topzipcodes.SD})
topzipcodes= topzipcodes[['ZIPCODE', 'SCORE', 'SE', 'CAMIS']]
topzipcodes

         ZIPCODE      SCORE         SE  CAMIS
ZIPCODE
10003      10003  22.491749  15.044511    675
10019      10019  21.433635  14.331010    660
10036      10036  22.423251  15.446534    593
10001      10001  20.861558  15.030757    509
10022      10022  21.987891  15.428606    488
10013      10013  23.894068  16.101864    480
10002      10002  24.277107  16.958575    474
10011      10011  21.360411  13.679330    463
10016      10016  22.781260  14.714143    414
10014      10014  21.526370  13.843233    408
10012      10012  21.120305  13.034035    402
10017      10017  22.425101  14.811273    376
11215      11215  21.415858  14.224077    372
11211      11211  21.099701  14.070921    365
11354      11354  26.462010  19.194790    361
11201      11201  21.906093  14.754640    345
10018      10018  22.976900  15.433238    333
11372      11372  24.170565  17.029921    319
11220      11220  25.863225  17.358547    317
10009      10009  21.997789  14.677895    312
11368      11368  23.540505  16.160040    290
11209      11209  20.643797  14.120116    264
11217      11217  20.602597  13.917400    254
11385      11385  21.996373  15.886891    252
11101      11101  21.856085  14.195165    250
10010      10010  22.672749  16.064649    246
11238      11238  21.771922  14.846754    246
10025      10025  23.335293  15.353623    237
11373      11373  24.466033  16.146662    225
10028      10028  21.348417  13.733814    214
...          ...        ...        ...    ...
11218      11218  23.808065  16.113036    147
11205      11205  21.702142  14.233783    145
11358      11358  21.962829  14.317949    143
11229      11229  22.286210  14.884832    142
10004      10004  20.437790  13.814240    142
11203      11203  21.713423  14.822455    141
10007      10007  21.559110  14.486985    139
11207      11207  20.471055  12.553618    136
10463      10463  21.242828  14.174341    128
11105      11105  21.687824  14.119562    123
11204      11204  22.407027  15.234933    123
10033      10033  22.113469  13.983320    120
11361      11361  19.958353  13.299787    119
10032      10032  23.731100  17.158520    117
11208      11208  22.868733  14.935990    116
11104      11104  22.714286  14.644184    114
11236      11236  22.383215  16.291386    111
10306      10306  19.015512  12.014017    111
11221      11221  22.510137  17.650955    111
10472      10472  20.658988  14.052637    108
10468      10468  22.104070  17.731756    107
11232      11232  22.130981  15.441802    106
10034      10034  22.320117  13.345601    106
11435      11435  21.604319  13.769330    106
11219      11219  22.128552  14.509424    105
11369      11369  20.591995  14.218729    104
10301      10301  20.581284  12.473938    103
11230      11230  24.021692  16.183317    102
10452      10452  21.666361  14.670739    101
11225      11225  21.174666  13.712163    101

[92 rows x 4 columns]

In [266]:
l=[]
for i in range (len(topzipcodes)):
    t=tuple(topzipcodes.iloc[i])
    l.append(t)

l[1]

(21.433634808115375, 660.0, 14.33100963529945, 14.331593513954365, 10019.0)

In [263]:
topzipcodes.ZIPCODE[[1]]

ZIPCODE
1   NaN
Name: ZIPCODE, dtype: float64

In [ ]:
list(zip(df.columns,df.T.values.tolist()))

In [236]:
tuple(topzipcodes.iloc[0])

(22.491749174917491, 675.0, 15.044511255719096, 15.045050978808545, 10003.0)

In [234]:
topzipcodes.index

Float64Index([10003.0, 10019.0, 10036.0, 10001.0, 10022.0, 10013.0, 10002.0,
              10011.0, 10016.0, 10014.0, 10012.0, 10017.0, 11215.0, 11211.0,
              11354.0, 11201.0, 10018.0, 11372.0, 11220.0, 10009.0, 11368.0,
              11209.0, 11217.0, 11385.0, 11101.0, 10010.0, 11238.0, 10025.0,
              11373.0, 10028.0, 11377.0, 11103.0, 10024.0, 11226.0, 10029.0,
              11355.0, 10023.0, 10458.0, 11375.0, 11222.0, 11432.0, 10314.0,
              11223.0, 11214.0, 11237.0, 11235.0, 10065.0, 10467.0, 10038.0,
              11216.0, 10027.0, 11231.0, 10128.0, 10451.0, 11106.0, 11249.0,
              11206.0, 10461.0, 11234.0, 10021.0, 10462.0, 11430.0, 11218.0,
              11205.0, 11358.0, 11229.0, 10004.0, 11203.0, 10007.0, 11207.0,
              10463.0, 11105.0, 11204.0, 10033.0, 11361.0, 10032.0, 11208.0,
              11104.0, 11236.0, 10306.0, 11221.0, 10472.0, 10468.0, 11232.0,
              10034.0, 11435.0, 11219.0, 11369.0, 10301.0, 11230.0, 10452.0,
              11225.0],
             dtype='float64', name=u'ZIPCODE')

In [128]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINECODE,INSPDATE,ACTION,VIOLCODE,SCORE,CURRENTGRADE,GRADEDATE,RECORDDATE,MM
0,30075445,MORRIS PARK BAKE SHOP,2,1007,MORRIS PARK AVE ...,10462,7188924968,8,2014-03-03 00:00:00,D,10F,2,A,2014-03-03 00:00:00,2014-09-04 06:01:28.403000000,22.219429
1,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225,7182875005,39,2014-07-01 00:00:00,F,06A,23,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000,22.219429
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019,2122452912,3,2013-07-22 00:00:00,D,10B,11,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000,22.219429
3,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234,7184443838,27,2014-05-29 00:00:00,D,08C,10,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000,22.219429
4,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019,2122452912,3,2013-07-22 00:00:00,D,02G,11,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000,22.219429
5,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019,2122452912,3,2013-07-22 00:00:00,D,10F,11,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000,22.219429
6,40356018,RIVIERA CATERER,3,2780,STILLWELL AVENUE,11224,7183723031,3,2014-06-10 00:00:00,D,10F,5,A,2014-06-10 00:00:00,2014-09-04 06:01:28.403000000,22.219429
7,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374,7188967788,50,2013-01-17 00:00:00,D,06D,13,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000,22.219429
8,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234,7184443838,27,2014-05-29 00:00:00,D,04M,10,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000,22.219429
9,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226,7188560821,43,2014-07-14 00:00:00,D,10F,12,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000,22.219429
10,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234,7184443838,27,2014-05-29 00:00:00,D,10F,10,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000,22.219429
11,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219,7182560829,3,2014-07-18 00:00:00,D,06A,12,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000,22.219429
12,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226,7188560821,43,2014-07-14 00:00:00,D,06C,12,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000,22.219429
13,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,10I,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000,22.219429
14,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225,7182875005,39,2014-07-01 00:00:00,F,02G,23,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000,22.219429
15,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314,7186985800,50,2014-05-20 00:00:00,D,10H,12,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000,22.219429
16,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,10F,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000,22.219429
17,40361521,GLORIOUS FOOD,1,522,EAST 74 STREET,10021,2127372140,3,2014-09-02 00:00:00,U,04C,19,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000,22.219429
18,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374,7188967788,50,2013-01-17 00:00:00,D,02B,13,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000,22.219429
19,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369,7183350505,3,2014-05-02 00:00:00,F,06D,10,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000,22.219429
20,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,10E,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000,22.219429
21,40359480,1 EAST 66TH STREET KITCHEN,1,1,EAST 66 STREET ...,10065,2128793900,3,2014-05-07 00:00:00,D,10B,3,A,2014-05-07 00:00:00,2014-09-04 06:01:28.403000000,22.219429
22,40358429,MAY MAY KITCHEN,3,1269,SUTTER AVENUE,11208,7182354485,20,2013-08-28 00:00:00,D,02B,7,A,2013-08-28 00:00:00,2014-09-04 06:01:28.403000000,22.219429
23,40360045,SEUDA FOODS,3,705,KINGS HIGHWAY ...,11223,7183751500,50,2013-10-10 00:00:00,D,04L,13,A,2013-10-10 00:00:00,2014-09-04 06:01:28.403000000,22.219429
24,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225,7182875005,39,2014-07-01 00:00:00,F,04J,23,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000,22.219429
25,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369,7183350505,3,2014-05-02 00:00:00,F,06A,10,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000,22.219429
26,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314,7186985800,50,2014-05-20 00:00:00,D,06D,12,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000,22.219429
27,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314,7186985800,50,2014-05-20 00:00:00,D,06E,12,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000,22.219429
28,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219,7182560829,3,2014-07-18 00:00:00,D,06D,12,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000,22.219429
29,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460,7182207846,3,2014-05-28 00:00:00,D,06F,11,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000,22.219429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531905,50014537,"1734 VICTORY BOULEVARD,INC.",5,1734,VICTORY BOULEVARD,10314,7187204900,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531906,50014563,FACEBOOK INC,1,770,BROADWAY,10003,6503675751,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531907,50014593,shinas pizza and grilling inc,4,88-38,SUTPHIN BOULEVARD ...,11435,3479655770,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531908,50014596,ALNINA CORP.,3,2474,OCEAN AVENUE,11229,9172021300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531909,50014597,Mian Noodle Bar,4,184-02,HORACE HARDING EXPRESSWAY,11365,5169677575,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531910,50014602,"NINETEEN TWENTY FOUR, INC",3,263,MOORE STREET ...,11206,7184171118,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531911,50014697,NEW JADE FOUNTAIN ENTERPRISES CORP,4,185-20,HORACE HARDING EXPRESSWAY,11365,7189399880,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531912,50014704,CREOLE 516 INC.,4,216-19,LINDEN BOULEVARD,11411,5164512071,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531913,50014705,JUICELAND PARK SLOPE INC,3,337,9 STREET,11215,7187881314,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531914,50014712,givers and takers,3,286,3 AVENUE ...,11215,9176271984,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531915,50014732,POPULAR CHICKEN INC,5,229,BROAD STREET,10304,3476068825,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531916,50014737,ZHONG ZHENG 26 RESTAURANT INC,1,26B,E BWAY ...,10002,2122199088,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531917,50014741,Q & Q BAKERY INC.,1,50,EAST BROADWAY,10002,2122262282,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531918,50014840,7 HUA JI PORT CHOP FAST FOOD INC,1,7,ALLEN STREET,10002,9179159663,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531919,50014853,MELT SHOP,1,877,8 AVENUE,10019,2125055861,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531920,50014866,IBM CAFETERIA,1,51,ASTOR PLACE,10003,8452341267,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531921,50014871,CIELO CAFE INC,4,147-36,NORTHERN BOULEVARD ...,11354,7188868871,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531922,50014875,MI RINCONCITO RESTAURANTE,2,131,EAST 169 STREET,10452,7186817474,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531923,50014882,MEANE JOE GREENE LLC,3,524,GRAND STREET ...,11211,9179165602,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531924,50014887,ZMA CORP,1,1159,3 AVENUE ...,10065,9176936031,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531925,50014889,SHARON'S ASIAN RESTAURANT INC,3,1232,AVENUE U,11229,9179578191,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531926,50014901,NUTELLERIA,3,82,5 AVENUE,11217,3473704444,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531927,50014920,FUSHIMI JAPANESE CUISINE,5,2110,RICHMOND ROAD,10306,7189805300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531928,50014921,Dunkin Donuts,1,542,EAST 14 STREET,10009,2125325003,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531929,50014955,Veinard Cafe Inc.,3,109,ORIENTAL BOULEVARD,11235,3478853050,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531930,50014960,PEPPA POT JAMAICAN CUISINE,4,134-28,GUY R BREWER BOULEVARD,11434,7185288200,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531931,50014972,BELLINI,1,483,COLUMBUS AVENUE,10024,2127244615,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531932,50014979,The Finch,3,212,GREENE AVENUE ...,11238,9176267596,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531933,50015011,ROAST KITCHEN,1,27,EAST 13 STREET ...,10003,2127764053,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429
531934,50015048,Vivire LLC,4,41-21,GREENPOINT AVENUE ...,11104,9176580796,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000,22.219429